#root {
    margin: 0 auto;
    text-align: center;
}

#navbar {
    /* Fallback color for browsers without image support */
    background-color: rgba(30, 58, 138, 0.7);
}
/*rgb(30, 58, 138)*/


/** Text Gradient Example */
.text-gradient {
    color: #2dabd5;
    background-image: linear-gradient(180deg, #2dabd5 37%, #cc1bf5 76%, #058357 69%, #eeccb2 28%, #c2e97f 80%);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#nav-ele {
    position: relative;
    overflow: hidden; /* Ensures the pseudo-element doesn't overflow */
}

#nav-ele::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/assets/images/bg_janaki_mandir.png'); /* Replace with your image */
    background-size: contain; /* Make the image cover the navbar */
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Prevent repeating */
    opacity: 0.3; /* Reduce opacity */
    z-index: -1; /* Place the background behind the content */
}

.s-bg {
    background: rgb(255, 255, 255);
    background: linear-gradient(0deg, rgba(255, 255, 255, 1) 0%, rgba(51, 45, 253, 0.9248949579831933) 100%);
}

.tt:hover {
    filter: invert(1) brightness(50%) sepia(0%) saturate(10000%);
}

/*.gd-css{*/
    /*background-image: radial-gradient(circle 248px at center, #16d9e3 0%, #30c7ec 47%, #46aef7 100%);*/
    /*background-image: linear-gradient(to top, #48c6ef 0%, #6f86d6 100%);*/
    /*background-image: linear-gradient(to top, #00c6fb 0%, #005bea 100%);*/
    /*background-image: linear-gradient(to right, #92fe9d 0%, #00c9ff 100%);*/
    /*background-image: linear-gradient(to bottom, #4481eb 0%, #04befe 100%);*/
    /*background-image: linear-gradient(-225deg, #2CD8D5 0%, #C5C1FF 56%, #FFBAC3 100%);*/
    /*background-image: linear-gradient(-225deg, #5D9FFF 0%, #B8DCFF 48%, #6BBBFF 100%);*/
    /*background-image: linear-gradient(-225deg, #D4FFEC 0%, #57F2CC 48%, #4596FB 100%);*/
    /*background-image: linear-gradient(-225deg, #FFFEFF 0%, #D7FFFE 100%);*/
    /*background-image: linear-gradient(to bottom, #1e3c72 0%, #1e3c72 1%, #2a5298 80%);*/
/*}*/

.add-bg{
    background-image: url('/assets/images/img_5.png');
    background-repeat: no-repeat;
    background-size: cover;
}



